/* Main CSS template */

body
	{
		background: #fff;
		font-family: 'lane_-_narrowregular', sans-serif;
    line-height: 30px;
	}

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../fonts/LANENAR_-webfont.eot');
    src: url('../fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LANENAR_-webfont.woff') format('woff'),
         url('../fonts/LANENAR_-webfont.ttf') format('truetype'),
         url('../fonts/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h2,h3 {
  font-weight: bold;
}

hr {
  border-color: black;
  margin: 0;
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
}
img:hover {
  cursor: pointer;
  opacity: 0.5;
}



.fadeIn.ng-leave {}
.fadeIn.ng-enter {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* navigation */
.navbar-default {
    background: white;
    color: black;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0 !important;
  }
.navbar-default .navbar-brand {
    background: black;
    color: #f2af00;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    height: 90px;
    margin: 0;
    padding: 20px 20px 40px 20px;
   }

.navbar-default .navbar-brand a {
  text-decoration: none;
  color: #f2af00;
}

.navbar-default .navbar-brand a:hover,
.navbar-default .navbar-brand a.hover {
  text-decoration: none;
  color: #f2af00;
}

.navbar-default .navbar-brand a:focus, 
.navbar-default .navbar-brand a.focus, {
  outline: none;
}

.navbar-default .navbar-nav li a {
    border-right: 1px solid #f9f9f9;
    color: #202020;
    font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 60px;
  }

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a.hover { 
  color: #dc5034;
}

.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a.active {
  color: #dc5034; 
}

.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a.focus {
  color: #dc5034; 
  outline: none;
}



/* home section */
#home {
  background: url('../images/home-bg.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  padding-top: 220px;
  padding-bottom: 100px;
}
#home h1 {
  color: #f2af00;
  font-weight: 300;
  padding-bottom: 10px;
}
#home h2 {
  line-height: 10px;
}
#home .btn {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #444;
  border-radius: 0px;
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-top: 14px;
  width: 200px;
  padding: 20px;
  margin-top: 20px;
   transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #dc5034;
  border-color: transparent;
  color: #fff;
}

/* experience section */
#experience {
  padding-top: 100px;
  padding-bottom: 80px;
}
#experience .col-md-12 {
  text-align: center;
}
#experience h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 20px;
}
#experience .fa {
  border-top: 3px solid #f2af00;
  border-bottom: 3px solid #dc5034;
  border-radius: 50%;
  font-size: 32px;
  color: #dc5034;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 40px;
}

.arrow-next {
  position: absolute;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: solid;  
  background-color:  #f2af00;
  color: white;
  opacity: 0.3;
  bottom:50px;
  margin-top:50px;
  text-decoration: none;  
  text-align: center;
  width: 100px;
} 

.arrow-next li a:focus,
.arrow-next li a.focus {
  outline: 0;
  text-decoration: none;
}

.arrow-prev {
  position: absolute;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: solid;  
  background-color:  #f2af00;
  color: white;
  opacity: 0.3;
  bottom:50px;
  margin-top:50px;
  text-decoration: none; 
  text-align: center;
  width: 100px; 
} 

.arrow-prev li a:focus,
.arrow-prev li a.focus {
  outline: 0;
  text-decoration: none;
}


/* animations */


/* education section */
#education {
  padding-top: 100px;
  padding-bottom: 100px;
}
#education h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 20px 10px 10px;
}
#education .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}
#education img {
  border: 1px solid #666;
  padding: 10px;
}
#education h4 {
  padding-bottom: 10px;
}

#education .fadeIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

       
#education .eduCont.ng-leave  {}
#education .eduCont.ng-enter  {  
    -webkit-animation:slideInRight  0.5s both ease-in;
  -moz-animation:slideInRight 0.5s both ease-in;
  animation:slideInRight  0.5s both ease-in;    
}


/* Skills section */
#skills {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  }
#skills h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 20px 10px 10px;
}

#skills a {
    background: transparent;
    border-color: transparent;
    color: grey;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

#skills a:hover,
#skills a.hover {
    background: #f2af00;
    border-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

#skills a:active,
#skills a.active {
    background: #f2af00;
    border-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

#skills a:focus,
#skills a.focus {
    background: #f2af00;
    border-color: transparent;
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

#skills .thumbnail{        
    width: 150px;     
    height: 150px;
    display: -webkit-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    vertical-align: middle;
}

#skills img {    
    
    vertical-align: middle;
    align-items: middle;
}

#skills .skillDesc.ng-leave {}
#skills .skillDesc.ng-enter {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInUp, fadeIn;
  animation-name: slideInUp, fadeIn;
}




/* FILTER CSS */
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #999999;
    font-size: 16px;
    font-family: 'lane_-_narrowregular', sans-serif;
    font-weight: bold;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.filter-wrapper li a.selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
    background: #f2af00;
    border-color: transparent;
    color: #ffffff;
  }

/* ISOTOPE BOX CSS */
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
}


/* contact section */
#contact {
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
}
#contact h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  margin-bottom: 60px;
}
#contact .form-control {
  border: 2px solid #444;
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
#contact .form-control:focus {
  opacity: 0.8;
  position: relative;
  bottom: 10px;
}
#contact input {
  height: 30px;
}
#contact input[type="submit"] {
  background: #444;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
  background: #f2af00;
  border-color: transparent;
}
#contact p {
  padding-top: 10px;
}
.form-control::-moz-placeholder {
  color: #202020;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #202020;
}
.form-control::-webkit-input-placeholder {
  color: #202020;
}


/* footer section */
footer {
  padding-top: 0px;
  padding-bottom: 60px;
}
footer h2 {
  border-bottom: 2px solid #444;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
footer p {
  line-height: 20px;
}
footer span {
  font-weight: bold;
  padding-left: 20px;
}
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  list-style: none;
}
.social-icons li a {
  background: #444;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.social-icons li a:hover {
  background: #f2af00;
}

/* copyright section */
.copyright {
  position: fixed;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 0px;
  position:fixed;
  bottom:0;
  width:100%;
  text-align: center;
}

.arrow {
  position: fixed;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  position:fixed;
  bottom:0;
  width:100%;
  text-align: center;
}

.slider-nav {
  text-align: center;
}





.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

/* AngularJS cloak :- load only when finish */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


/* animations */

@-webkit-keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
         
@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}

@-webkit-keyframes fadeOut {
0% {opacity: 0;}
100% {opacity: 1;}
}
         
@keyframes fadeOut {
0% {opacity: 0;}
100% {opacity: 1;}
}

@keyframes slideInRight {
0% {opacity: 0;}
100% {opacity: 1;}
from  { transform:translateX(50%); }
to    { transform: translateX(0); }
}

@-webkit-keyframes slideInRight {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from  { -webkit-transform:translateX(50%); }
  to    { -webkit-transform: translateX(0); }
}

@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}

@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from  { transform:translateY(100%); }
  to    { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from  { -moz-transform:translateY(100%); }
  to    { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from  { -webkit-transform:translateY(100%); }
  to    { -webkit-transform: translateY(0); }
}


