body
	{
		background: #fff;
		font-family: 'lane_-_narrowregular', sans-serif;
	}

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../fonts/LANENAR_-webfont.eot');
    src: url('../fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LANENAR_-webfont.woff') format('woff'),
         url('../fonts/LANENAR_-webfont.ttf') format('truetype'),
         url('../fonts/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, p {
  font-family: Quicksand;
  font-weight: 400;
}

h2,h3 {
  font-family: Quicksand;
  font-weight: bold;
}

hr {
  border-color: #f2af00;
  margin: 0;
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
}

li {
  list-style-type: none;
  display: inline-block;
}

.section-1 {
  line-height: 50vh;
  width: 100%;
  border: 1px solid black;
}

.section-1 img {
  margin: 0 auto;
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 81%;
        border-radius: 50%;
        width: 51%;
        margin-left: 24.5%;
        margin-top: 6%;
}

.layer:hover {
  display: none;
}

.round-button {
  width: 70%;
  margin-left: 15%;
}
.round-button-circle {
  height:0;
  padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    
    background-image: url('../images/iot_talk_circle.png');
    background-size: cover;;
}
.round-button-circle:hover {
  background-image: url('../images/iot_talk_circle.png');
}
.round-button a {
    display:block;
  float:left;
  width:70%;
  padding-top:42%;
    padding-bottom:40%;
  line-height:1em;
  margin-top:-0.5em;
    
  text-align:center;
  color:black;
    font-family:Quicksand;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;

}

.round-button-2 a {
  padding-top: 60%;
}

.countdown h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: "hanniballist" !important;
  margin-top: 0;
  margin-bottom: 2%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 70%;
    margin-left: 15%;
    padding: 50% auto;
}

#element-248 {
    height: 44px;
    width: 44px;
    left: 96px;
    top: 276px;
    align-items: middle;
}

#element-323 {
    height: 23px;
    width: 23px;
    margin-top: -38px;
    margin-left: 11px;
}

.circle {
    background-color: rgb(59, 59, 59);
    background-size: cover;
    height: 100%;
    opacity: 1;
    background-repeat: repeat;
    background-position: center bottom;
    box-sizing: border-box;
    border-radius: 50%;
}
.circle-1 {
    background-color: black;
    background-size: cover;
    height: 100%;
    opacity: 1;
    background-repeat: repeat;
    background-position: center bottom;
    box-sizing: border-box;
    border-radius: 50%;
}
.circle h3{
    margin-left: 70px;
    padding-top: 8px;
}

.circle p{}

.schedule {
  margin-top: 30px;
}

#element-249 {
    height: 550px;
    margin-left: 13px;
    margin-top: -15px;
}

#element-249-2 {
    height: 600px;
    margin-left: 13px;
    margin-top: -15px;
}

#element-250 {
    height: 20px;
    width: 20px;
    margin-top: -530px;
    margin-left: 12px;
}

#element-250-2 {
    height: 20px;
    width: 20px;
    margin-top: -580px;
    margin-left: 12px;
}


.shift-up {
  margin-top: -24px;
}

.scol-sm-4 p {
  text-align: left;
}

#element-251 {
    height: 20px;
    width: 20px;
    margin-top: 53px;
    margin-left: 12px;
}

#element-555 {
    height: 200px;
    width: 70%;
    margin-left: 15%;
    position: absolute;
}

#element-556 {
    height: 200px;
    width: 70%;
    margin-left: 15%;
    position: absolute;
}

#element-557 {
    height: 300px;
    width: 70%;
    margin-left: 15%;
}

.schedule-post {
  margin-top: 5%;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  font-size: 30px;
}
section.module p {
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax-m {
  padding: 10% 0;
  background-position: 0 0;
  height: 100vh;
}

section.module.parallax {
  padding: 5% 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 16px;
  line-height: 50vh;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  background-image: url("../images/header1.jpg");
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
}
section.module.parallax-2 {
  background-image: url("../img/pic/pattern2.png");

}
section.module.parallax-3 {
  background-image: url("../img/pic/launch.jpg");
      /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

section.module.parallax-4 {
  background-image: url("../img/pic/hack.jpg");
      /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@media (max-width: 600px) {

  section.module.parallax {
  padding: 10% 0;
  height: 100%;
}
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 10% 0;
  }
  section.module.parallax h1 {
    font-size: 16px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 32px;
  }
}

.desc {
    line-height: 20vh;
}

.desc p{
  font-size: 48px;
}


.sponsor-1 {
  width: 50%;
}

/* navigation */
.navbar-default {
    background-color: white;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0 !important;
  }
.navbar-default .navbar-brand {
    /*background: #fb9800;*/
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    height: 90px;
    margin: 0;
    /*padding: 20px 20px 40px 20px;*/
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
   }
.navbar-brand:hover, .navbar-brand:clicked {
  background: dc5034;
}
.navbar-default .navbar-nav li a {
    border-right: 1px solid #f9f9f9;
    color: #202020;
     font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 60px;
	
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }
.navbar-default .navbar-nav > li > a:clicked,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f2af00;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f2af00;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
    border: none;
    padding-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #dc5034;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent 
}


/* FILTER CSS */
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #999999;
    font-size: 16px;
    font-family: 'lane_-_narrowregular', sans-serif;
    font-weight: bold;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.filter-wrapper li a.selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
    background: #f2af00;
    border-color: transparent;
    color: #ffffff;
  }

/* ISOTOPE BOX CSS */
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
}


.timer {
  font-size: 14px;
  color: #fff;
}

.timer ul li {
  width: 24.4333%;
  display: inline-block;
  text-align: center;
}
.timer ul li span {
  font-size: 150px;
  font-weight: bold;
}

/* footer section */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer h2 {
  border-bottom: 2px solid #444;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
footer p {
  line-height: 20px;
}
footer span {
  font-weight: bold;
  padding-left: 20px;
}

/* Misc section */
.misc {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.misc a{
  font-size: 16px;
  font-weight: bold;
}

/*Bottom social links*/
.footer-content-s {
  width: 25%;
  margin: 0 37.5% 5% 37.5%;
  clear: both;
}

/*Social link formats*/
.social-link-f {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  padding-top: 5%;
}

/* scrolltop section */
.go-top 
  {
    background-color: #f2af00;
    font-size: 26px;
    bottom: 2em;
    right: 2em;
    color: #FFF;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }
.go-top:hover
  {
    background-color: #444;
	color: #fff;
  }



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    border-color: 10px red;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s;
    text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {opacity:0} 
    to {opacity:1}
}

@keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 5% 16px;
    text-align: left;
    border-bottom: none;
}

.modal-body {padding: 0 16px; font-size: 24px;}

.modal-footer {
    padding: 5% 16px;
    color: #fb9800;
    text-align: center;
        border-top: none;
}

    .google-maps {
        position: relative;
        padding-bottom: 55%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 300px !important;
    }

#schedule {
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
  /* Safari/iOS fix: Adjusting both z-index and transform on <article>
     causes text anti-aliasing to die within subsequent <article>
     elements during the transition. Moving z-index to the parent <li>
     fixes this. */
  /* Firefox fix: The outline style stretches to include absolutely
     positioned child elements (in this case, the offset dismiss
     button). This looks weird. The fix is to have a <div> with no
     child elements, position it to have the same edges as <article>,
     and apply the outline style there. */
  /* Chrome/Safari/iOS fix: Bumping up the z-index from the start of
     the expand animation until the end of the shrink animation
     prevents unnecessary repaints on subsequent <article> elements. */
  /* Chrome/Safari/iOS fix: The centered "Sun" text jumps to the right
     when the transition ends. Oddly enough, setting text-indent to 0%
     prevents this. */
}
#schedule *,
#schedule *::before,
#schedule *::after {
  box-sizing: border-box;
}
#schedule body {
  margin: 0;
  color: #666;
  background-color: #f6f6f6;
  font: 1em/1 'Open Sans', sans-serif;
}
#schedule a {
  text-decoration: none;
}
#schedule .container {
  position: absolute;
  left: calc(50% - 400px);
  width: 800px;
  margin: 60px auto;
}
#schedule .year {
  margin: 0 0 8px;
  color: #548383;
  text-align: center;
  font-size: 4em;
}
#schedule .description {
  margin: 0 0 64px;
  color: #acc2c2;
  text-align: center;
  font-size: 2em;
}
#schedule ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: -14px auto -14px;
  padding: 0;
  list-style: none;
}
#schedule li {
  position: relative;
  z-index: 1;
  width: 33%;
  height: 160px;
  transition: z-index;
  transition-delay: .4s;
}
#schedule article {
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 8px solid #dfe7e7;
  background-color: #fff;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(0.25);
  transition: transform .4s;
}
#schedule .outline {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: -8px;
  left: 0;
  right: 0;
}
#schedule article:focus {
  outline: none;
}
#schedule article:focus .outline {
  outline: 4px solid #dab08c;
}
#schedule .dismiss {
  display: block;
  opacity: 0;
  position: absolute;
  top: -28px;
  right: -28px;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  border-radius: 50%;
  color: #fff;
  background-color: #666;
  cursor: pointer;
  transition: opacity .4s;
}
#schedule .dismiss::before {
  content: '\f00d';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font: 1.7em/1 'FontAwesome';
  transform: translate(-50%, -50%);
}
#schedule .binding {
  height: 40px;
  background-color: #dab08c;
}
#schedule .binding::before,
#schedule .binding::after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
}
#schedule .binding::before {
  left: 25%;
}
#schedule .binding::after {
  right: 25%;
}
#schedule article h1 {
  height: 52px;
  margin: 16px;
  text-align: center;
  font-size: 3.2em;
}
#schedule table {
  width: 592px;
  margin: 16px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 4px;
}
#schedule th {
  position: relative;
  width: 80px;
  height: 32px;
  padding: 0 0 12px;
  text-align: center;
}
#schedule th::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 20px;
  background-color: #acc2c2;
  transition: opacity .4s;
}
#schedule td {
  position: relative;
  width: 80px;
  height: 64px;
  padding: 4px;
  vertical-align: top;
  background-color: #dfe7e7;
}
#schedule td:empty {
  background-color: transparent;
}
#schedule .is-holiday {
  color: #fff;
  background-color: #548383;
}
#schedule .day {
  opacity: 0;
  font-size: 1.1em;
  font-weight: bold;
  transition: opacity .4s;
}
#schedule .split {
  position: absolute;
  bottom: 4px;
  right: 4px;
}
#schedule .holiday {
  opacity: 0;
  margin-top: 8px;
  font-size: .8em;
  transition: opacity .4s;
}
#schedule .notes {
  width: 708px;
  margin: 64px auto 0;
  color: #548383;
  line-height: 1.8;
}
#schedule .inactive {
  pointer-events: none;
}
#schedule .active {
  z-index: 2;
  transition-delay: 0s;
}
#schedule .active article {
  cursor: auto;
}
#schedule li:nth-child(4n+1).active article {
  transform: translate(10%, -160px) scale(1);
}
#schedule li:nth-child(4n+2).active article {
  transform: translate(-50%, -160px) scale(1);
}
#schedule li:nth-child(4n+3).active article {
  transform: translate(-110%, -160px) scale(1);
}
#schedule .active .dismiss,
#schedule .active .day,
#schedule .active .holiday {
  opacity: 1;
}
#schedule .active th {
  text-indent: 0%;
}
#schedule .active th::after {
  opacity: 0;
}


/* Supporter with side-lines */
.decorated{
   overflow: hidden;
   text-align: left;
   color: black;
   font-size: 16px !important;
   letter-spacing: 3px;
   position: relative;
}
.decorated > span{
  position: relative;
  display: inline-block;
}
.decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid;
  width: 200%; /* half of limiter*/
  margin: 0 10% 0 5%;
}
.decorated > span:before{
  right: 100%;
}
.decorated > span:after{
  left: 100%;
}

/* Supporter with side-lines */
.decorated2{
   overflow: hidden;
   text-align: center;
   color: white;
   font-size: 16px !important;
   letter-spacing: 3px;
   position: relative;
}
.decorated2 > span{
  position: relative;
  display: inline-block;
}
.decorated2 > span:before, .decorated2 > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid;
  width: 100%; /* half of limiter*/
  margin: 0 10% 0 5%;
}
.decorated2 > span:before{
  right: 100%;
}
.decorated2 > span:after{
  left: 100%;
}

.artist, .charcoal {
    padding: 100px 80px 125px;
    background-color: #313133;
}

.col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
}