<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Keep in touch</h2>
      </div>
      <form action="#" method="post" role="form">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10">
          <div class="col-md-6 col-sm-6">
            <input name="name" type="text" class="form-control" id="name" placeholder="Name">
            </div>
          <div class="col-md-6 col-sm-6">
            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
            </div>
                    <div class="col-md-12 col-sm-12">
            <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
                </div>
          <div class="col-md-12 col-sm-12">
            <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
          </div>
          <div class="col-md-8 col-sm-8">
            <p>i'll be sure to reply!</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <input name="submit" type="submit" class="form-control" id="submit" value="SEND MESSAGE">
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </form>
    </div>
  </div>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

<!-- footer section -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Address</h2>
        <p>2 Jalan 3/5J, Bandar Baru Bangi, 43560</p>
        <p>Email: <span>irfan.abrazak@gmail.com</span></p>
        <p>Phone: <span>(+60) 13 342 9923</span></p>
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Social Us</h2>
        <ul class="social-icons">
          <li><a href="https://www.instagram.com/irfnrzk11/" target="_open" class="fa fa-instagram"></a></li>
          <li><a href="https://twitter.com/irfan89" target="_open" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-dribbble"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>