<!-- education section -->
<div id="education">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Education Background</h2>
			</div>
				<div class="col-md-4 col-sm-4 fadeIn">
					<ul style="list-style: none">
						<li style="margin-bottom:5px">
							<a ui-sref=".leeds"><img src="images/leeds.jpg" style="border:0" alt="University of Leeds"></a>
						</li>
						<li style="margin-bottom:5px">
							<a ui-sref=".malaya"><img src="images/um.jpg" style="border:0" alt="Universiti Malaya"></a>
						</li>
						<li>
							<a ui-sref=".srikdu"><img src="images/srikdu.jpg" style="border:0" alt="Sekolah Sri KDU"></a>
						</li>
					</ul>				
				</div>
				<div class="col-md-8 col-sm-8"><br>
					<div class="eduCont" ui-view>
					<div class="fadeIn">
						<h3>UNIVERSITY OF LEEDS, UK</h3>
						<h4>MSc. Exploration Geophysics</h4>
						<p>A taught postgraduate program that helped me develop adequate working knowledge of seismic fundamentals including acquisition and processing techniques, interpretation, the basis of petrophysics, structural geology and rock physics. </p>
						<p>Worked closely with British Geological Survey during the summer on the estimation methods of initial water saturation at Hutton field, UK North Sea, by quantitatively and critically comparing the amount of water saturation calculated from three different Sw models; Archie’s, Poupon-Leveaux (Indonesian) and Waxman-Smits.</p></div>
					</div>
				</div>
		</div>		
	</div>
</div>

<br>

<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="col-md-12 col-sm-12 fadeIn">

<div class="arrow-next focus" vector-text><a ui-sref="skills.all" style="text-decoration: none; color: white"><b>Skills</b></a></div>
<div class="arrow-prev focus" vector-text><a ui-sref="experience" style="text-decoration: none; color: white"><b>Experience</b></a></div>

		</div>
 	</div>
</div>