<!-- experience section -->
<div id="experience">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 fadeIn">
				<h2>My Experience</h2>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-cubes"></i>
				<h3>Graduate Reseach Assistant</h3>
				<h3 style="font-size:medium;">@ Universiti Kebangsaan Malaysia</h3>
				<p>Involved in time-lapse seismic monitoring of ASP flooding. Developed a program using Matlab to perform Gassmann fluid substitution and ray-tracing algorithm for AVO analysis.</p><p><i>(2016-Present)</i></p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-cogs"></i>
				<h3>Graduate Geophysicist</h3>
				<h3 style="font-size:medium;">@ UZMA Engineering Sdn Bhd</h3>
				<p>Support geophysicist for Seligi Minor Reservoir Full Field Review by EnQuest; work involves studying previous FDP reports, QC and preliminary studies of existing data using Petrel, improvised the current seismic interpretation workflow by incorporating seismic data conditioning using GeoTeric software.</p><p><i>(June 2015 - Dec 2015)</i></p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-group"></i>
				<h3>Trainee Mechanical Engineer</h3>
				<h3 style="font-size:medium;">@ Western Digital (PJ) Sdn. Bhd.</h3>
				<p>Selected by the Ministry of Higher Education, under the High-End Industrial Graduate Internship Program (HEIGIP) scheme; assigned to the mechanical engineering department at Western Digital (WD). Responsible for assisting senior engineers on basic mechanical hard disk failure analysis and present findings.</p><p><i>(Every midsem break 2012-2013)</i></p>
			</div>

			
		</div>
	</div>
</div>


	<div class="container" style="margin-top: 50px">
		<div class="row">
			<div class="col-md-12 col-sm-12 fadeIn">

<div class="arrow-next" vector-text><a ui-sref="education" style="text-decoration: none; color: white">Education</a></div>


 			</div>
 		</div>
 	</div>






