<!-- home section -->
<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
				<h2>Welcome to</h2>
				<h1>irfnrzk's <strong>Web Resume</strong></h1>
				<p>My name is <i>Muhammad Irfan Bin Ab Razak</i>.. and i will be needing at least <i>2 cans</i> of coffee to get my day going... &amp; no, this dude is not me.</p>
				<a ui-sref="experience" class="btn btn-default smoothScroll">GET STARTED</a>
			</div>			
		</div>		
	</div>
</div>

<div style="background-color: white; opacity: 0.8; padding-left: 50px; padding-right:50px"><code><pre>
changelog:
# 15/04/17 -modified original template from 2080 minimax tootplate
# 01/05/17 -added AngularJS ui-router to switch views
           -developed new data filtering app w/ Bootstrap in <i>SKILLS</i>
           -scoping database and loop with AngularJS
# 03/05/17 -animate transitions with AngularJS and CSS
</pre></code></div>
