// Colors
$black: #000;
$white: #fff;
$text-color: #666;
$blue-green: #25d868;
$dark-grey: #838689;

// Fonts
$font-default: 'Arial', sans-serif;
$font-icon: 'FontAwesome';
$fa-font-path: "../fonts" !default;


//CSS Colors
.black{color: $black !important;}
.white{color: $white !important;}

//BG Colors
.bg-black{background-color: $black !important;}
.bg-white{background-color: $white !important;}
